.object__artist {
  max-width: 750px;
  margin: 0 auto;
}

.artist__header {
  border-radius: 3px 3px 0 0;
}

.artist__title, .artist__subtitle {
  color: white;
}

.artist__image-container {
  background-size: cover;
}

.artist__content {
  padding-top: 16px;
  border-left: 3px solid;
  border-right: 3px solid;
  border-bottom: 3px solid;
  border-radius: 0 0 3px 3px;
}

.artist__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.form__field {
  margin-bottom: -1rem;
}

.artist__id, .artist__share-id, .artist__name, .artist__monthly-listeners, .artist__followers {
  flex: 1 1 calc(50% - 0.5rem);
}

.artist__back-base-color {
  flex-basis: calc(30% - 0.5rem);
}

.artist__on-list {
  flex-basis: calc(20% - 0.5rem - 8px);
  padding-top: .5rem;
}

.artist__avatar-image, .artist__header-image, .artist__description {
  flex-basis: 100%;
}