<main class="layout__objects">
  <mat-tab-group dynamicHeight class="objects__tab-group">

    <mat-tab label="Artist" class="objects__object">
      <div class="object__container mat-elevation-z4">
        <app-artist-tab-content class="object__tab-content"></app-artist-tab-content>
      </div>
    </mat-tab>

    <mat-tab label="External Links" class="objects__object">
      <div class="object__container mat-elevation-z4">
        <app-external-links-tab-content class="object__tab-content"></app-external-links-tab-content>
      </div>
    </mat-tab>

    <mat-tab label="Top Cities" class="objects__object">
      <div class="object__container mat-elevation-z4">
        <app-top-cities-tab-content class="object__tab-content"></app-top-cities-tab-content>
      </div>
    </mat-tab>

    <mat-tab label="Images" class="objects__object">
      <div class="object__container mat-elevation-z4">
        <app-images-tab-content class="object__tab-content"></app-images-tab-content>
      </div>
    </mat-tab>

    <mat-tab label="Related Artists" class="objects__object">
      <div class="object__container mat-elevation-z4">
        <app-related-artists-tab-content class="object__tab-content"></app-related-artists-tab-content>
      </div>
    </mat-tab>

    <mat-tab label="Releases" class="objects__object">
      <div class="object__container mat-elevation-z4">
        <app-releases-tab-content class="object__tab-content"></app-releases-tab-content>
      </div>
    </mat-tab>

    <mat-tab label="Tracks" class="objects__object">
      <div class="object__container mat-elevation-z4">
        <app-tracks-tab-content class="object__tab-content"></app-tracks-tab-content>
      </div>
    </mat-tab>

  </mat-tab-group>
</main>
