.tracks__track, .tracks__track--indent {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
}

.tracks__track--indent {
  margin-left: 2rem;
}

.tracks__track--indent .track__image, .tracks__track--indent .form__field{
  opacity: 0.6;
}

.track__image {
  height: 56px;
  margin-top: 10px;
  border-radius: 1rem;
}

.track__img {
  max-width: 56px;
  max-height: 56px;
  border-radius: .3rem;
}

.track__year, .track__track-number {
  width: 70px;
}

.track__playcount {
  width: 156px;
}

.track__type {
  width: 180px;
}

.track__name {
  width: 500px;
}

.track__name--indent {
  width: 428px;
}

.track__name--indent2 {
  width: 388px;
}

.form__field {
  margin-bottom: -30px;
}

.form__field, .track__image {
  margin-left: 1rem;
}