@if(images.length){
  <main class="object__images">
    @for(image of images; track image){
      @if(image.type === 'GALLERY' && image.index === 0){
        <div class="images__image">
          <img [src]="image.url" class="image__img">
          <mat-form-field class="form__field image__url">
            <mat-label>URL</mat-label>
            <input matInput [(ngModel)]="image.url">
          </mat-form-field>
        </div>
      }
    }
  </main>
} @else {
  <div class="object__no-data">No Data</div>
}