/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.object__no-data {
  text-align: center;
  height: 10rem;
  line-height: 10rem;
  font-size: 1.2rem;
}